{% extends 'ReviewerReviewBundle::layout.html.twig' %}

{% block title %}About{% endblock%}
{% block body %}
    <h2>About JReviewer</h2>
    <div style="padding: 50px;margin:0 auto;background-color: #b9def0">
        <p>This is a book review website created by Jannatul Choudhury.</p>
    </div>
{% endblock %}