<div class="search-function" style="float:right;">
    <form class="form-search" method="post" action="{{ url('review_search') }}">
        <input type="text" id="search" name="search">
        <button class="btn btn-default">Search</button>
    </form>
</div>